# 230968126 Exercise 1

Name :- Kewal Thacker, Section :- A, Batch 1

EXERCISE 1: - Introduction to Pandas
Data frame creation and manipulation

1. Create a data frame with details of 10 students and columns as Roll Number, Name, 
Gender, Marks1, Marks2, Marks3.

In [2]:
import pandas as pd
rnos = [1,2,3,4,5,6,7,8,9,10]
names = ["A","B","C","D","E","F","G","H","I","J"]
genders = ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"]
mks1 = [80,83,76,14,45,76,98,64,23,63]
mks2 = [90,45,23,67,92,12,53,64,76,96]
mks3 = [54,27,10,75,97,54,76,99,56,88]
dict1 = {"Roll Number":rnos,"Name":names,"Gender":genders,"Marks1":mks1,"Marks2":mks2,"Marks3":mks3}
df1 = pd.DataFrame(dict1)
print(df1)

   Roll Number Name  Gender  Marks1  Marks2  Marks3
0            1    A    Male      80      90      54
1            2    B  Female      83      45      27
2            3    C    Male      76      23      10
3            4    D  Female      14      67      75
4            5    E    Male      45      92      97
5            6    F  Female      76      12      54
6            7    G    Male      98      53      76
7            8    H  Female      64      64      99
8            9    I    Male      23      76      56
9           10    J  Female      63      96      88

2. Create a new column with total marks

In [3]:
df1["TotalMarks"] = df1["Marks1"] + df1["Marks2"] + df1["Marks3"]
print(df1)

   Roll Number Name  Gender  Marks1  Marks2  Marks3  TotalMarks
0            1    A    Male      80      90      54         224
1            2    B  Female      83      45      27         155
2            3    C    Male      76      23      10         109
3            4    D  Female      14      67      75         156
4            5    E    Male      45      92      97         234
5            6    F  Female      76      12      54         142
6            7    G    Male      98      53      76         227
7            8    H  Female      64      64      99         227
8            9    I    Male      23      76      56         155
9           10    J  Female      63      96      88         247

3. Find the lowest marks in Marks1

In [5]:
print("The lowest marks in Marks1 are",df1["Marks1"].min())

The lowest marks in Marks1 are 14

4. Find the Highest marks in Marks2

In [6]:
print("The highest marks in Marks2 are",df1["Marks2"].max())

The highest marks in Marks2 are 96

5. Find the average marks in Marks3

In [7]:
print("The average marks in Marks3 are",df1["Marks3"].mean())

The average marks in Marks3 are 63.6

6. Find student name with highest average

In [11]:
highest_average_row = df1.loc[df1["TotalMarks"].idxmax()]
name = highest_average_row["Name"]
print("Student with the highest average is",name)

Student with the highest average is J

7. Find how many students failed in Marks2 (<40)

In [12]:
print("The number of students having marks below 40 are",df1[df1["Marks2"]<40].shape[0])

The number of students having marks below 40 are 2