# 230968126 WEEK 2 EX 1

Name:- Kewal Thacker, Section :- A, Batch 1

Exercise 1 – Data Preprocessing
Using the given CEREALS dataset, perform data preprocessing and answer the following 
questions. 
1) Create a table with the 5-number summary of all the numeric attributes.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cereals = pd.read_csv("C:\\Users\\mca\\Downloads\\Cereals.csv")
df1 = pd.DataFrame(cereals)
df1

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [3]:
summary = df1.describe()
summary

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912

2) For each of the numeric attributes (proteins up to vitamins), identify and replace all 
missing data (indicated with ?) with the arithmetic mean of the attribute.

In [4]:
df2 = df1.replace("?",-1)
df2 = df2.mask(df2 == -1)
for i in df2.columns:
    if df2[i].isnull().any():
        df2[i] = df2[i].fillna(df2[i].astype(float).mean())
df2

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,96.216216,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

3) Create a table with the 5-number summary of all the numeric attributes after treating 
missing values. Do you think the strategy used in dealing with missing values was 
effective?

In [5]:
newsummary = df2.describe()
newsummary

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912

Answer : Yes the strategy was effective since we were able to eliminate missing values and calculate better values for the quartiles

4) For each of the numeric attributes (proteins up to vitamins), identify and replace all 
noisy data with the median of attribute.

In [6]:
for column in df2.columns:

    if pd.api.types.is_numeric_dtype(df2[column]):

        median = df2[column].median()
        Q1 = df2[column].quantile(0.25)
        Q3 = df2[column].quantile(0.75)
        IQR = Q3 - Q1
        

        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        df2[column] = np.where(
            (df2[column] < lower_bound) | (df2[column] > upper_bound),
            median,
            df2[column]
        )


(df2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120.0,3.0,5.0,15.0,2.00,8,8,135,25.0,3.0,1.0,1.00,33.983679
1,All-Bran,K,C,110.0,4.0,1.0,260.0,1.75,7,5,320,25.0,3.0,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,110.0,4.0,0.0,140.0,1.75,8,0,330,25.0,3.0,1.0,0.50,40.253086
3,AlmondDelight,R,C,110.0,2.0,2.0,200.0,1.00,14,8,96.216216,25.0,3.0,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110.0,2.0,2.0,180.0,1.50,10.5,10,70,25.0,1.0,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110.0,2.0,1.0,250.0,0.00,21,3,60,25.0,3.0,1.0,0.75,39.106174
72,Trix,G,C,110.0,1.0,1.0,140.0,0.00,13,12,25,25.0,2.0,1.0,1.00,27.753301
73,WheatChex,R,C,100.0,3.0,1.0,230.0,3.00,17,3,115,25.0,1.0,1.0,0.67,49.787445
74,Wheaties,G,C,100.0,3.0,1.0,200.0,3.00,17,3,110,25.0,1.0,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110.0,2.0,1.0,200.0,1.00,16,8,60,25.0,1.0,1.0,0.75,36.187559

5) Create a table with the 5-number summary of all the numeric attributes after treating 
noisy values. Do you think the strategy used in dealing with noisy values was 
effective?

In [7]:
df2.describe()

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.000000,76.0,76.000000,76.000000
mean,107.236842,2.401316,1.013158,181.381579,1.792105,25.0,2.197368,1.0,0.817632,41.623743
std,8.099166,0.875670,1.013159,60.186370,1.520220,0.0,0.832982,0.0,0.213478,12.464724
min,90.000000,1.000000,0.000000,15.000000,0.000000,25.0,1.000000,1.0,0.250000,18.042851
25%,100.000000,2.000000,0.000000,147.500000,0.750000,25.0,1.000000,1.0,0.670000,32.932466
50%,110.000000,2.250000,1.000000,180.000000,1.625000,25.0,2.000000,1.0,0.750000,40.179526
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.0,3.000000,1.0,1.000000,50.031833
max,120.000000,4.000000,5.000000,320.000000,6.000000,25.0,3.000000,1.0,1.330000,74.472949

Answer : Yes the strategy was effective since outliers skew the data and reduce the accuracy while interpreting and analysing the data. Hence removing them and replacing them with the median will help